/* line 1, ../../src/css/mod.pagectrl.scss */
.sort-page {
  text-align: center;
  _padding-bottom: 2px;
}
/* line 4, ../../src/css/mod.pagectrl.scss */
.sort-page .page-box {
  margin-bottom: 97px;
}
/* line 7, ../../src/css/mod.pagectrl.scss */
.sort-page .page-pre-btn {
  margin-right: 3px;
}
/* line 10, ../../src/css/mod.pagectrl.scss */
.sort-page .page-next-btn {
  margin-left: 3px;
}
/* line 13, ../../src/css/mod.pagectrl.scss */
.sort-page a {
  text-decoration: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  *vertical-align: middle;
}

/* line 25, ../../src/css/mod.pagectrl.scss */
.page-pre-btn, .page-next-btn {
  height: 38px;
  line-height: 38px;
  width: 78px;
  background: #fff;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  color: #333;
  text-align: center;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 40, ../../src/css/mod.pagectrl.scss */
.page-pre-btn:hover, .page-next-btn:hover {
  background-color: #f1f1f1;
}

/* line 45, ../../src/css/mod.pagectrl.scss */
.page-pre-btn i, .page-next-btn i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -3px;
  width: 7px;
  height: 12px;
}

/* line 60, ../../src/css/mod.pagectrl.scss */
.page-pre-btn i {
  background: transparent url("../img/page-arr-left.png") no-repeat;
}

/* line 64, ../../src/css/mod.pagectrl.scss */
.page-next-btn i {
  background: transparent url("../img/page-arr-right.png") no-repeat;
}

/* line 68, ../../src/css/mod.pagectrl.scss */
a.page-btn-dis {
  border-color: #ededed;
  color: #bcbcbc;
  cursor: default !important;
  background-color: #e3e3e3 !important;
}
/* line 73, ../../src/css/mod.pagectrl.scss */
a.page-btn-dis:hover {
  background-color: #e3e3e3 !important;
}

/* line 79, ../../src/css/mod.pagectrl.scss */
.page-pre-btn i.page-btn-dis {
  background: transparent url("../img/page-arr-left-dis.png") no-repeat;
}

/* line 84, ../../src/css/mod.pagectrl.scss */
.page-next-btn i.page-btn-dis {
  background: transparent url("../img/page-arr-right-dis.png") no-repeat;
}

/* line 90, ../../src/css/mod.pagectrl.scss */
.page-btn {
  height: 38px;
  line-height: 38px;
  padding: 0 24px;
  background: #fff;
  border: 1px solid #d9d9d9;
  margin: 0 3px;
  color: #333;
  font-size: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 104, ../../src/css/mod.pagectrl.scss */
.page-btn:hover {
  background: #f1f1f1;
}

/* line 108, ../../src/css/mod.pagectrl.scss */
.page-btn-cur {
  background: #049ee4;
  border-color: #049ee4;
  color: #fff;
}
/* line 112, ../../src/css/mod.pagectrl.scss */
.page-btn-cur:hover {
  background: #049ee4;
}
